<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>R.K Hospital | For Women & Children</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <!-- Favicon -->
    <link href="img/eoffice_logo.png" rel="shortcut icon" type="image/png">
</head>

<body >

    <div class="preloader"></div>

    <div class="header-topbar">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-8 col-sm-6 welcome-top">
                    <ul class="list-inline top-icon">
                        <li><i class="fa fa-phone"></i> 04362 276 124</li>
                        <li><i class="fa fa-envelope"></i> info@friendzion.com</li>
                        <!-- <li><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="list-inline text-right icon-style-1">
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar conner-style no-bg bg-defult-1 position-fixed">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand dis-none" href="index.html"><img src="img/logork.png" alt=""    style="height: 50px; width:180px;">
                                </a>
                            <a class="navbar-brand dis-block" href="index.html"><img src="img/logork.png" alt="" style="height: 50px; width:180px;" >
                                </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations-delay="1.8s" data-animations="fadeInUp">
                            <ul class="nav navbar-nav bg-none navbar-right style-3">
                               
                                 <li class="dropdown active"><a href="index.html">Home</a>
                                        </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Department">Department <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="depertment-1.html">Cardilogists Department</a>
                                        </li>
                                        <li><a href="depertment-2.html">Orthopaedics Department</a>
                                        </li>
                                        <li><a href="depertment-3.html">Diabetology Department</a>
                                        </li>
                                        <li><a href="depertment-4.html">Nephrology Department</a>
                                        </li>
                                        <li><a href="depertment-5.html">Spine Department</a>
                                        </li>
                                        <li><a href="depertment-6.html">Cancer Department</a>
                                        </li>
                                        <li><a href="depertment-7.html">Neurology & Neurosurgery Department</a>
                                        </li>
                                        <li><a href="depertment-8.html">Pediatric Department</a>
                                        </li>
                                    </ul>
                                </li>
                                         <li class="dropdown">
                                    <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Doctors">Doctors <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="overview.html">Overview</a>
                                        </li>
                                        <li><a href="doctors.html">Doctors</a>
                                        </li> 
                                    </ul>
                                </li>
                                         <li><a href="portfolio.html">Portfolio</a></li>      
                                         <li><a href="blog.html">Blog</a></li>
                                         <li><a href="contact.html">Contact</a></li>
                                      
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header navbar end -->


    <!-- Start  bootstrap-touch-slider Slider -->
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            <!-- Third Slide -->
            <div class="item active">

                <!-- Slide Background -->
                <img src="img/bg/2.jpg" alt="Slider Images"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>

                <div class="slide-text slide_style_left">
                            <h1 data-animation="animated fadeInRight">We <span class="color-defult">serve better  </span>than any other</h1>
                            <p data-animation="animated fadeInLeft">Our team of over 100 doctors join me in giving you the best <br> of modern healthcare to ensure you stay healthy, always.</p>
                            
                            <a href="aboutus.html" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">About Us</a>
                        </div>
            </div>
            <!-- End of Slide -->

            <!-- Second Slide -->
            <div class="item">
            
                <!-- Slide Background -->
                <img src="img/bg/cataract.jpg" alt="Slider Images" class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    <h1 data-animation="animated bounceInDown"> We <span class="color-defult">provide most </span> proffesional service.</h1>
                    <p data-animation="animated lightSpeedIn">Primary care isn’t just about getting treatment when you’re sick; <br>it’s about taking control of overall health and wellness.</p>
                    <a href="aboutus.html" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">About Us</a>
                </div>
            </div>
            <!-- End of Slide -->
            
            <!-- Third Slide -->
            <div class="item">
            
                <!-- Slide Background -->
                <img src="img/bg/3.jpeg" alt="Slider Images"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_right">
                    <h1 data-animation="animated fadeInLeft">Life Wellness<span class="color-defult"> Programs</span></h1>
                    <p data-animation="animated fadeInRight">Stay in touch and in shape with periodic tips from our <br>in-house  experts on wellness, fitness and nutrition.</p>
                    <a href="aboutus.html" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">About Us</a>
                </div>
            </div>
            <!-- End of Slide -->


        </div><!-- End of Wrapper For Slides -->

        <!-- Left Control -->
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div> <!-- End  bootstrap-touch-slider Slider -->
    <section class="animatedParent animateOnce">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 animated fadeInLeftShort slow delay-250">
                        <h2>Experience World-Class  <span class="color-defult">Healthcare Services.</span></h2>
                        <p>Today, the medical field is witnessing a host of multi-specialty hospitals mushrooming all over the country. In the windfall of the various state-of-the-art hospitals, personalized care often takes a disappointing backseat. This is where R.k Hospital comes into the picture making a much needed difference.</p>
                        <div class="gallery-carousel margin-top-30">
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-heart"></i>
                                    <h4><a href="#">Heart</a></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-virus"></i>
                                    <h4><a href="#">Virus</a></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-stomach-1"></i>
                                    <h4><a href="#">Stomach</a></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-liver"></i>
                                    <h4><a href="#">Liver</a></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-brain"></i>
                                    <h4><a href="#">Brain</a></h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-item">
                                    <i class="flaticon-kidney"></i>
                                    <h4><a href="#">Kidney</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-one margin-top-30">
                            <div class="item">
                                <div class="doctor-list">
                                    <img src="img/team/22.jpg" alt="">
                                    <div class="content">
                                        <h4><a href="#">Dr. Rangaraj</a></h4>
                                        <p>Cardiovascular diseases requires the expertise</p>
                                        <a href="doctors.html" class="btn btn-theme btn-sm">View More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-list">
                                   <img src="img/team/2.jpg" alt="">
                                    <div class="content">
                                        <h4><a href="#">Dr. Pranaya</a></h4>
                                        <p>Ability to personalize care to every individual patient.</p>

                                        <a href="doctors.html" class="btn btn-theme btn-sm">View More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="doctor-list">
                                  <img src="img/team/s1.jpg" alt="">
                                    <div class="content">
                                        <h4><a href="#">Dr. Deva</a></h4>
                                        <p>Providing exceptional healthcare with compassion</p>

                                        <a href="doctors.html" class="btn btn-theme btn-sm">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 bg-f8 padding-tb animated fadeInRightShort slow delay-250">
                        <div class="booking-from">
                            <h2>Make An <span class="color-defult">Appointment</span></h2>
                            <form method="post" action="#">
                                <div class="col-md-6">
                                    <input type="text" name="message_name" id="name" class="form-control" placeholder="Your Name" required pattern="[A-Za-z]+" >
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="Doctor-name" name="message_dname">
                                        <option value="auto">Choose Your Doctor</option>
                                        <option value="top auto">Dr. Rangaraj</option>
                                        <option value="bottom auto">Dr. Deva</option>
                                        <option value="auto left">Dr. Pranav</option>
                                        <option value="top left">Dr. Anitha</option>
                                        <option value="bottom left">Dr. Selvi</option>
                                        <option value="auto right">Dr. Arun</option>
                                        <option value="top right">Dr. Rajesh</option>
                                        <option value="bottom right">Dr. Sushmitha</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="message_subject" class="form-control" placeholder="Subject" id="subject" required>
                                </div>
                                <div class="col-md-6"> 
                                    <div class="input-group date margin-bottom-30" data-date-format="dd.mm.yyyy">
                                        <input  type="text" class="form-control" placeholder="Reservation Date">
                                        <div class="input-group-addon" >
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="message_email" class="form-control" placeholder="Your Email Here" id="email" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="phone" class="form-control" placeholder="Your Phone Number" id="phone" required  pattern="[789][0-9]{9}" title="plz Enter 10 digit number" maxlength="10">
                                </div>
                                <div class="col-md-12">
                                    <div class="contact-textarea">
                                        <textarea class="form-control" rows="6" placeholder=" Comments" id="message" name="message" required></textarea>
                                        <button class="btn btn-theme" type="submit" value="Submit Form">Send Message</button>
                                    </div>
                                </div>
                                <div id="form-messages"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 
    <!-- about end -->
    <section class="divider call-action over-layer-default animatedParent animateOnce" style="background-image:url(img/bg/5.jpg);">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center color-white">
                            <h2 class="color-white">Why Choose <span class="color-333"> Us </span>?</h2>
                            <div class="line-border-center"></div>
                            <p>Hospital services is a term that refers to medical and surgical services and the supporting laboratories, equipment that make up the medical and surgical mission of a hospital system.</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="about-feature">
                        <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-250">
                            <div class="practice-item-1">
                                <div class="practice-img">
                                    <a href="#">
                                        <img src="img/services/1.jpg" alt="">
                                        <span class="icon icon-Heart"></span>
                                    </a>
                                </div>
                                <div class="practice-content">
                                    <h4><a href="#"> ACCESS YOUR HEALTH RECORDS</a></h4>
                                    <p>The maintenance or improvement of health via the prevention, diagnosis, and treatment of disease.</p>
                                    <a href="aboutus.html" class="btn-theme hvr-bounce-to-top"> Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-500">
                            <div class="practice-item-1">
                                <div class="practice-img">
                                    <a href="#">
                                        <img src="img/services/2.jpg" alt="">
                                        <span class="icon icon-Heart"></span>
                                    </a>
                                </div>
                                <div class="practice-content">
                                    <h4><a href="#"> Quality Healthcare</a></h4>
                                    <p>Anesthesia is a medical specialty concerned with the administration of medication to aid pain management.</p>
                                    <a href="aboutus.html" class="btn-theme hvr-bounce-to-top"> Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-750">
                            <div class="practice-item-1">
                                <div class="practice-img">
                                    <a href="#">
                                        <img src="img/services/9.jpg" alt="">
                                        <span class="icon icon-Heart"></span>
                                    </a>
                                </div>
                                <div class="practice-content">
                                    <h4><a href="#"> Safe & Secure</a></h4>
                                    <p>Hospital-based counseling service on the physical recovery of surgical and medical patients.</p>
                                    <a href="aboutus.html" class="btn-theme hvr-bounce-to-top"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- service start -->
    <section class="service-area bg-f8 animatedParent animateOnce">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>Our <span class="color-defult">Services</span></h2>
                        <div class="line-border-center bg-defult"></div>
                        <p>Hospital services is a term that refers to medical and surgical services and the supporting laboratories, equipment that make up the medical and surgical mission of a hospital system.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-250">
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            <h4><a href="#">Cardiology</a></h4>
                            <div class="border-center"></div>
                            <p>Fuelled by a motive to serve all sections of the society.</p>
                           <!--  <button type="submit" class="btn btn-theme margin-top-20" data-text="Send Message">Read More</button> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-500">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <h4><a href="#">Laparoscopic Surgery</a></h4>
                            <div class="border-center"></div>
                            <p> Tremendous changes in General Surgery and advanced patient care.</p>
                            <!-- <button type="submit" class="btn btn-theme margin-top-20" data-text="Send Message">Read More</button> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-750">
                            <i class="fa fa-wheelchair" aria-hidden="true"></i>
                            <h4><a href="#">Women Health</a></h4>
                            <div class="border-center"></div>
                            <p> woman has a significant impact on health of biological differences.</p>
                            <!-- <button type="submit" class="btn btn-theme margin-top-20" data-text="Send Message">Read More</button> -->
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-1000">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <h4><a href="#">Health Care</a></h4>
                            <div class="border-center"></div>
                            <p> The maintenance or improvement of health via the prevention, diagnosis, and treatment of disease.</p>
                            <!-- <button type="submit" class="btn btn-theme margin-top-20" data-text="Send Message">Read More</button> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-1250">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                            <h4><a href="#">Anesthesiology</a></h4>
                            <div class="border-center"></div>
                            <p>Anesthesia is a medical specialty concerned with the administration of medication to aid pain management.</p>
                           <!--  <button type="submit" class="btn btn-theme margin-top-20" data-text="Send Message">Read More</button> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-item text-center style-3 animated fadeInLeftShort slow delay-1500">
                           <i class="fa fa-ambulance" aria-hidden="true"></i>
                            <h4><a href="#">Emergency Help</a></h4>
                            <div class="border-center"></div>
                            <p>R.K Hospital’s “next generation Responder” makes medical transportation safer for patients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service end -->

    <!-- Counter start -->
    <section class="funfact-field over-layer-black" style="background-image: url('img/bg/6.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">5000</div>
                            <h4> PATIENTS CARE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">170</div>
                            <h4>TOTAL DOCTORS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">500</div>
                            <h4>TOTAL BEDS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count border-none">1119</div>
                            <h4>HAPPY FAMILIES</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter end -->
    <footer class="bg-faded">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                  <img class="footer-logo-2 margin-bottom-10" src="img/eoffice_logo.png" alt="" >
                  <p>The care providers should know the value of time and should be well-experienced to take quick and right decisions.</p>
                </div>
              </div>
            <div class="row margin-top-30">
                <div class="col-md-3">
                  <div class="footer-item footer-widget-one">
                    <div class="footer-title">
                      <h4>Quick Contact</h4>
                      <div class="border-style-2"></div>
                    </div>
                    <p><i class="pe-7s-map-marker theme-color"></i> VOC Nagar 1st Cross,<br>
                      Thanjavur-613007,<br>  Tamil Nadu,Hosur.</p>
                    <hr>
                    <ul class="address">
                      <li><i class="pe-7s-call"></i>Phone: 04362 276 124</li>
                      <li><i class="pe-7s-mail"></i><a href="mailto:">Email: info@rkhospitalthanjavur.com</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item">
                    <div class="footer-title">
                      <h4>Our Pages </h4>
                      <div class="border-style-2"></div>
                    </div>
                    <ul class="footer-list border-deshed color-icon">
                      <li><i class="pe-7s-angle-right"></i><a href="aboutus.html">About Us</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="doctors.html">Doctors</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="blog.html">Blog</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item">
                    <div class="footer-item clearfix">
                      <div class="footer-title">
                        <h4>Photo Gallery</h4>
                        <div class="border-style-1"></div>
                      </div>
                      <div class="flicker-feed gutter">
                        <a href="img/flicker/1.jpg" class="lightbox-image" title=""><img src="img/flicker/1.jpg" alt=""></a>
                        <a href="img/flicker/2.jpg" class="lightbox-image" title=""><img src="img/flicker/2.jpg" alt=""></a>
                        <a href="img/flicker/3.jpg" class="lightbox-image" title=""><img src="img/flicker/3.jpg" alt=""></a>
                        <a href="img/flicker/4.jpg" class="lightbox-image" title=""><img src="img/flicker/4.jpg" alt=""></a>
                        <a href="img/flicker/5.jpg" class="lightbox-image" title=""><img src="img/flicker/5.jpg" alt=""></a>
                        <a href="img/flicker/6.jpg" class="lightbox-image" title=""><img src="img/flicker/6.jpg" alt=""></a>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item footer-widget-one">
                    <div class="footer-title">
                      <h4>Serving Hours</h4>
                      <div class="border-style-2"></div>
                    </div>
                    <ul class="footer-list border-deshed">
                      <li class="clearfix"> <span> Mon - Tue :  </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Wed - Thu :</span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Friday - Sat : </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Sunday : </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            </div>
          </div>
    </footer>
    <section class="footer-copy-right bg-defult text-white">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>Copyright ©2018 | Designed & developed by <a href="http://friendzion.com" target="_blank">Friendzion Technologies</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Style Thirten End -->


  
    <a href="#" class="scrollup"><i class="pe-7s-drop" aria-hidden="true"></i></a>
    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- all plugins and JavaScript -->
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
    <script type="text/javascript" src="js/player.min.js"></script>
    <script type="text/javascript" src="js/comming-soon.js"></script>

    <!-- Main Custom JS -->
    <script type="text/javascript" src="js/script.js"></script>


</body>
</html>

