
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>R.K Hospital | For Women & Children</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <!-- Favicon -->
    <link href="img/eoffice_logo.png" rel="shortcut icon" type="image/png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body oncontextmenu="return false">

    <div class="preloader"></div>

    <div class="header-topbar">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-8 col-sm-6 welcome-top">
                    <ul class="list-inline top-icon">
                        <li><i class="fa fa-phone"></i> 04362 276 124</li>
                        <li><i class="fa fa-envelope"></i> info@friendzion.com</li>
                        <!-- <li><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="list-inline text-right icon-style-1">
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar conner-style no-bg bg-defult-1 position-fixed">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                             <a class="navbar-brand dis-none" href="index.html"><img src="img/logork.png" alt=""    style="height: 50px; width:180px;">
                                </a>
                            <a class="navbar-brand dis-block" href="index.html"><img src="img/logork.png" alt="" style="height: 50px; width:180px;" >
                                </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations-delay="1.8s" data-animations="fadeInUp">
                            <ul class="nav navbar-nav bg-none navbar-right style-3">
                               
                                 <li ><a href="index.html">Home</a>
                                        </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Department">Department <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="depertment-1.html">Cardiologist Department</a>
                                        </li>
                                        <li><a href="depertment-2.html">Orthopaedics Department</a>
                                        </li>
                                        <li><a href="depertment-3.html">Diabetology Department</a>
                                        </li>
                                        <li><a href="depertment-4.html">Nephrology Department</a>
                                        </li>
                                        <li><a href="depertment-5.html">Spine Department</a>
                                        </li>
                                        <li><a href="depertment-6.html">Cancer Department</a>
                                        </li>
                                        <li><a href="depertment-7.html">Neurology & Neurosurgery Department</a>
                                        </li>
                                        <li><a href="depertment-8.html">Pediatric Department</a>
                                        </li>
                                    </ul>
                                </li>
                                         <li class="dropdown">
                                    <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Doctors">Doctors <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="overview.html">Overview</a>
                                        </li>
                                        <li><a href="doctors.html">Doctors</a>
                                        </li> 
                                    </ul>
                                </li>
                                         <li class="dropdown active"><a href="portfolio.html">Portfolio</a></li>      
                                         <li><a href="blog.html">Blog</a></li>
                                         <li><a href="contact.html">Contact</a></li>
                                      
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header navbar end -->


    <section class="inner-bg over-layer-black" style="background-image: url('img/bg/4.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mini-title inner-style-2">
                        <h3>Portfolio</h3>
                        <p><a href="index.html">Home</a> <span class="fa fa-angle-right"></span> <a href="#">Portfolio</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <!-- portfolio start -->
    <section class="gallery-area">
        <div class="container">
            <div class="section-content">
                <div class="row clearfix">
                    <div class="gallery-filter-item text-center">
                        <ul class="gallery-filter">
                            <li class="active"><a href="#" data-filter="*" class="current">All</a></li>
                            <li class=""><a href="#" data-filter=".gp-two" class="current">ATMOSPHERE</a></li>
                            <li class=""><a href="#" data-filter=".gp-three" class="current">OTHER PROGRAMS</a></li>
                            <li class=""><a href="#" data-filter=".gp-four" class="current">SURGERY</a></li>
                            <li class=""><a href="#" data-filter=".gp-five" class="current">CAMP</a></li>
                        </ul>
                    </div>

                    <div class="gallery col-3 gutter">
                        <div class="gallery-item gp-two">
                            <div class="thumb">
                                <img src="img/portfolio/p8.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p8.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Testing Lab"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p8.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Testing Lab"> Testing Lab</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-three">
                            <div class="thumb">
                                <img src="img/portfolio/p6.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p6.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Program 1"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p6.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Program 1">Program 1</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-four">
                            <div class="thumb">
                                <img src="img/portfolio/p4.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p4.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Surgery 1"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p4.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Surgery 1">Surgery 1</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-five">
                            <div class="thumb">
                                <img src="img/portfolio/p2.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p2.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp1"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p2.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp1">Camp1</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-two">
                            <div class="thumb">
                                <img src="img/portfolio/p10.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p10.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Hospital Room"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p10.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Hospital Room">Hospital Room</a></h4>
                                       <!--  <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-three">
                            <div class="thumb">
                                <img src="img/portfolio/p7.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p7.jpg" data-fancybox-group="gallery" class="lightbox-image" title=">Program 2"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p7.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Program 2">Program 2</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-four">
                            <div class="thumb">
                                <img src="img/portfolio/p5.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p5.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Surgery 2"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p5.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Surgery 2">Surgery 2</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-five">
                            <div class="thumb">
                                <img src="img/portfolio/p1.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p1.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp2"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p1.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp2">Camp2</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-item gp-five">
                            <div class="thumb">
                                <img src="img/portfolio/p3.jpg" alt="">
                                <div class="gallery-hover">
                                    <div class="gallery-info">
                                        <div class="gallery-btn">
                                            <a href="img/portfolio/p3.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp3"> <i class="pe-7s-graph2"></i>  </a>
                                        </div>
                                        <h4><a href="img/portfolio/p3.jpg" data-fancybox-group="gallery" class="lightbox-image" title="Camp3">Camp3</a></h4>
                                        <!-- <p><a href="#">Sub Title here</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio end -->



    <!-- Counter start -->
   <section class="funfact-field over-layer-black" style="background-image: url('img/bg/6.jpg')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">5000</div>
                            <h4>PATIENTS CARE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">170</div>
                            <h4>TOTAL DOCTORS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count">500</div>
                            <h4>TOTAL BEDS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="counter-col text-center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="count">
                            <div class="start-count border-none">1119</div>
                            <h4>HAPPY FAMILIES</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter end -->



 <footer class="bg-faded">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                  <img class="footer-logo-2 margin-bottom-10" src="img/eoffice_logo.png" alt="">
                  <p>The care providers should know the value of time and should be well-experienced to take quick and right decisions.</p>
                </div>
              </div>
            <div class="row margin-top-30">
                <div class="col-md-3">
                  <div class="footer-item footer-widget-one">
                    <div class="footer-title">
                      <h4>Quick Contact</h4>
                      <div class="border-style-2"></div>
                    </div>
                    <p><i class="pe-7s-map-marker theme-color"></i> VOC Nagar 1st Cross,<br>
                      Thanjavur-613007,<br>  Tamil Nadu.</p>
                    <hr>
                    <ul class="address">
                      <li><i class="pe-7s-call"></i>Phone: 04362 276 124</li>
                      <!-- <li><i class="pe-7s-clock"></i>Friday - Sunday Closed</li>
                      <li><i class="pe-7s-print"></i>Fax: 001 (407) 901-6400</li> -->
                      <li><i class="pe-7s-mail"></i><a href="mailto:">Email: info@rkhospitalthanjavur.com</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item">
                    <div class="footer-title">
                      <h4>Our Pages </h4>
                      <div class="border-style-2"></div>
                    </div>
                    <ul class="footer-list border-deshed color-icon">
                      <li><i class="pe-7s-angle-right"></i><a href="aboutus.html">About Us</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="doctors.html">Doctors</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="blog.html">Blog</a></li>
                      <li><i class="pe-7s-angle-right"></i><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item">
                    <div class="footer-item clearfix">
                      <div class="footer-title">
                        <h4>Photo Gallery</h4>
                        <div class="border-style-1"></div>
                      </div>
                      <div class="flicker-feed gutter">
                        <a href="img/flicker/1.jpg" class="lightbox-image" title=""><img src="img/flicker/1.jpg" alt=""></a>
                        <a href="img/flicker/2.jpg" class="lightbox-image" title=""><img src="img/flicker/2.jpg" alt=""></a>
                        <a href="img/flicker/3.jpg" class="lightbox-image" title=""><img src="img/flicker/3.jpg" alt=""></a>
                        <a href="img/flicker/4.jpg" class="lightbox-image" title=""><img src="img/flicker/4.jpg" alt=""></a>
                        <a href="img/flicker/5.jpg" class="lightbox-image" title=""><img src="img/flicker/5.jpg" alt=""></a>
                        <a href="img/flicker/6.jpg" class="lightbox-image" title=""><img src="img/flicker/6.jpg" alt=""></a>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-item footer-widget-one">
                    <div class="footer-title">
                      <h4>Serving Hours</h4>
                      <div class="border-style-2"></div>
                    </div>
                    <ul class="footer-list border-deshed">
                      <li class="clearfix"> <span> Mon - Tue :  </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Wed - Thu :</span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Friday - Sat : </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                      <li class="clearfix"> <span> Sunday : </span>
                        <div class="value pull-right"> 12.00 am - 12.00 pm </div>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            </div>
          </div>
    </footer>
    <section class="footer-copy-right bg-defult text-white">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>Copyright ©2018 | Designed & developed by <a href="http://friendzion.com" target="_blank">Friendzion Technologies</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Style Thirten End -->



  
    <a href="#" class="scrollup"><i class="pe-7s-drop" aria-hidden="true"></i></a>
    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- all plugins and JavaScript -->
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
    <script type="text/javascript" src="js/player.min.js"></script>
    <script type="text/javascript" src="js/comming-soon.js"></script>

    <!-- Main Custom JS -->
    <script type="text/javascript" src="js/script.js"></script>


</body>
</html>
